.central-do-assinante{
	width: 100%;
	float: left;
	color: #58595b;
	padding: 20px 0 80px;
}
.central-do-assinante h2{
	text-align: center;
	margin-bottom: 40px;
}
.panel-default{
	border: none;
	box-shadow: none;
}
.panel-title a{
	font-family: 'marine_bold';
	color: #666769;
}
.panel-default>.panel-heading{
	background: none;
	border: none;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border-bottom: 1px solid #81b14f;
	font-family: 'marine_regular';
	border-top-color: transparent;
	font-size: 15px;
}
.login{
	background-image: url('../img/box-login-central-do-assinante.png');
	width: 391px;
	height: 430px;
	margin: 0 auto;
}

.form-central{
	padding-top: 150px;
	margin: 0 auto;
	text-align: center;
}
@media (max-width: 991px){
	.col-box-contato{
		margin-top: 50px;
	}
}
@media (max-width: 423px){
	form .campo input, form .campo textarea, form .campo select {
    	width: 60%;
	}
}
@media(max-width: 391px){
	.login{
		width: 100%;
		background-size: cover;
		background-position: 50%;
	}
	.col-box-contato {
	    padding: 0;
	}
	form .campo input, form .campo textarea, form .campo select {
    	width: 95%;
	}
}