.contato{
	width: 100%;
	float: left;
    padding: 80px 0 120px;
    font-family: 'mohave_italics';
}
.box-contato{
	width: 423px;
	height: 557px;
	background-image: url('../img/box-contato.png');
	float: right;
    text-align: center;
}
.contato h2{
    color: #58595b;
    margin-top: 80px;
}
.contato .telefone{
    width: 100%;
    margin-bottom: 40px;
}
.tel-end{
    color: #81b14f;
    margin: 40px 0;
}
.tel-end div{
    display: inline-block;
    font-size: 25px;
    vertical-align: top;
    line-height: 115%;
}
.contato i,
.contato img{
    color: #666769;
    font-size: 35px;
    width: 49px;
    height: 39px;
}

form{
	margin-top: 15px;
    color: #5c5d5f;
}
#envelope .st0{fill:#F1F1F1;}
#envelope .st1{fill:#666769;stroke:#666769;stroke-width:2;}
#envelope .st2{fill:none;stroke:#666769;stroke-width:2;}
#envelope .folha{
	transition: all .5s ease;
	opacity: 0;
    transform: translateY(100px);
}
#envelope .borda{
	transition: all .5s ease;
}
.box-contato:hover #envelope .folha{
	opacity: 1;
    transform: translateY(0);
}
.box-contato:hover #envelope .borda{
	opacity: 0;
}
#envelope{
	width: 60px;
	height: 60px;
	margin-top: 50px;
}


form .campo{
    margin-bottom: 14px;
}
form .campo input,
form .campo textarea,
form .campo select{
    padding: 4px 8px;
    border: 1px solid #96be6e;
    width: 60%;
    font-size: 15px;
    resize: none;
}
form .campo input:focus,
form .campo textarea:focus,
form .campo select:focus{
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    color: #505050;
    background-color: rgb(241, 241, 241);
}
form .campo input::-webkit-input-placeholder,
form .campo textarea::-webkit-input-placeholder,
form .campo select::-webkit-input-placeholder{
    color: #b5b1b1;
}
form .campo input:-ms-input-placeholder,
form .campo textarea:-ms-input-placeholder,
form .campo select:-ms-input-placeholder{
    color: #b5b1b1;
}
form .campo input::-moz-placeholder,
form .campo textarea::-moz-placeholder,
form .campo select::-moz-placeholder{
    color: #b5b1b1;
}
form .campo input:-moz-placeholder,
form .campo textarea:-moz-placeholder,
form .campo select:-moz-placeholder{
    color: #b5b1b1;
}
form .botao{
	-webkit-transform: skew(0, 0);
    -moz-transform: skew(0, 0);
    -o-transform: skew(0, 0);
    -ms-transform: skew(0, 0);
    transform: skew(0, 0);
    margin-top: 0;
}
form .botao input,
form .botao textarea,
form .botao select{
    margin: 0 auto;
    display: table;
    float: none;
    padding: 5px 40px;
    color: #FFF;
    background-color: #81b14f;
    border: 1px solid #81b14f;
    border-bottom-width: 2px;
    border-bottom-color: #58595b;

}
form .botao input:hover,
form .botao textarea:hover,
form .botao select:hover{
    background-color: #58595b;
    border-color: #58595b;
    border-bottom-color: #81b14f;
}
form .botao img{
    position: absolute;
    right: 0;
    top: 11px;
}
form .wpcf7-not-valid{
    border: 1px solid #d80505 !important;
}
span.wpcf7-not-valid-tip{
    display: none !important;
}
div.wpcf7-response-output{
    margin: 90px 0 0 0;
    float: left;
    width: 100%;
    font-size: 14px;
    border: 1px solid #f00;
}
div.wpcf7-mail-sent-ok{
    border-color: #398f14;
}
div.wpcf7 img.ajax-loader{
    width: 20px;
    height: 20px;
}
.ouvidoria .seleciona span.radio-641 {
    float: left;
    position: relative;
    margin: 0 0 10px 0;
    width: 100%;
}
span.radio-641 span.wpcf7-radio {
    position: relative;
    float: none;
    margin: 0 auto;
    display: table;
    left: 1px;
}
.ouvidoria .seleciona span.wpcf7-list-item span {
    text-align: center;
    font-size: 15px;
    display: table;
    border: 1px solid #b3b3b3;
    background-color: rgba(255, 255, 255, 0.32);
    color: #505050;
    padding: 8px 13px;
    margin: 0;
    text-transform: uppercase;
}
.ouvidoria .seleciona span.radio-641 span.wpcf7-radio span {
    position: relative;
    float: left;
    margin: 0;
}
.ouvidoria .seleciona span.radio-641 span input {
    position: absolute;
    top: 0px;
    padding: 30px;
    width: 100%;
    height: 39px;
    opacity: 0;
    left: 0;
    z-index: 7;
    margin: 0;
    cursor: pointer;
}
.ouvidoria .seleciona span.radio-641 span.wpcf7-radio span {
    position: relative;
    float: left;
    margin: 0;
}
.ouvidoria .seleciona span.wpcf7-list-item input:checked + span {
    background-color: #81b14f;
    color: #F7F7F7;
}
@media (max-width: 991px){
    .box-contato{
        float: none;
        margin: 0 auto;
    }
}
@media (max-width: 680px){
    .contato{
        padding-left:0;
        padding-right:0;
    }
}
@media (max-width: 423px){
    .box-contato{
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }
    form .campo input, form .campo textarea, form .campo select{
        width: 95%;
    }
    .col-box-contato{
        padding: 0;
    }
    .telefone >div,
    .endereco div{
        width: 100%;
    }
    .tel-end div{
        font-size: 20px;
    }
}