.head-medium{
	background-image: url('../plano-de-fundo-abstrato.jpg');
}
h2{
	font-size: 33px;
    margin-top: 40px;
	color: #333;
}
.termos-promocionais{
	width:100%;
	float: left;
    margin-bottom: 70px;
}
.box-aqurivos{
	margin-top: 50px;
	width:100%;
	float: left;
	text-align: center;
}
.box-aqurivos div{
	margin-bottom:20px;
	font-size: 16px;
}
.nome-arquivo{
	font-size: 17px;
	margin-top: 10px;
	width:200px;
	margin:0 auto;
}
.icon-arquivos{
	width:150px;
	display: table;
	margin:0 auto;
	fill:#333;
	transition:all .5s ease;
	margin-bottom:10px;
}
.link-arquivo{
	color: #333;
	transition:all .5s ease;
}
.link-arquivo:hover .icon-arquivos{
	fill:#67b145;
}
.link-arquivo:hover{
	color:#67b145;
}
.chamada-planos{
	float: left;
	width:100%;
	padding-bottom:100px;
}
.centering{
	float: none;
	margin:0 auto;
	text-align: center;
}
.convert{
	margin-top: 50px;
}
.convert a{
	display: inline-block;
}
.box-aqurivos img{
	width:70%;
}
@media (max-width: 1199px){
	.head-medium .page-name h1{
		width:100%;
	}
	.head-medium .page-name .the-bread{
	    position: relative;
	    bottom: initial;
	    right: initial;
	    float: left;
	}
}
@media (max-width: 991px){
	.box-aqurivos img{
		width:100%;
	}
}