
#header-sroll .menu-one ul li a::before,
#header-sroll .menu-one ul li span::before{
    color: #67B145;
}
#header-sroll .menu-one ul li a,
#header-sroll .menu-one ul li span{
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    color: #666769;
}
#header-sroll .menu-one ul li span{
    color: #747474;
    border:2px solid #747474;
}
#header-sroll .menu-one ul li a:hover{
    color: #67b145;
}
#header-sroll .menu-one ul li a:after,
#header-sroll .menu-two ul li a:after{
    background-color:#67b145;
    box-shadow: 0 0 5px rgb(103, 177, 69);
}
#header-sroll .logo a.siteLogo{
     background: url('../img/logo.svg') no-repeat;
}
#header-sroll .telefones i{
    color: #67b145;
}
#header-sroll .telefones{
    color: #67b145;
}

#header-sroll .redes-sociais a i{
    box-shadow: 2px -1px 0 #67b145;
    border-color: #67b145;
    color: #67b145;
}



/* BANNER */
.banner{
    float: left;
    width: 100%;
    height: auto;
    background-image: url('../img/maxx-fibra-banner.jpg');
    background-size: cover;
    font-family: 'mohave_italics';
    color: #67B145;
    position: relative;
}
.banner span{
    font-family: 'mohave_italics';
    opacity: .9;
    line-height: 100%;}
.banner .color-cinza{
    color: #666769;}
.group-banner{
    margin-top: 200px;}
.banner h2{
    font-size: 80px;
    font-weight: bold;}
.mega-e-preco{
    width: 70%;
    position: relative;
    float: left;
    height: 400px;}
.qtd-mega{
    font-size: 250px;
    line-height: 100%;
    position: absolute;
    display: inline-block;
    left: 0;
    color: #67B145;}
.mega{
    font-size: 80px;
    position: absolute;
    bottom: 105px;
    left: -30px;}
.por{
    position: absolute;
    bottom: 140px;
    left: 180px;
    font-size: 35px;}
.rs{
    position: absolute;
    bottom: 105px;
    left: 142px;
    font-size: 30px;}
.reais{
    position: absolute;
    bottom: 31px;
    left: 166px;
    font-size: 120px;}
.centavos{
    position: absolute;
    bottom: 31px;
    left: 266px;
    font-size: 60px;}
.asterisco{
    font-size: 31px;
    vertical-align: top;
}
.mega-e-preco a{
    color: #67B145;
}
.mega-e-preco a:hover{
    color: #757678;
}
.consulte{
    position: absolute;
    bottom: 0;
    left: 230px;
    font-size: 13px;
    font-family: 'marine_regular' !important;
}
.suporte-e-wifi{
    width: 30%;
    position: relative;
    float: right;
    height: 400px;
    padding-right: 30px;}
.vinte-e-quatro-suporte{
    text-align: right;
    margin-top: 100px;}
.numero{
    font-size: 70px;}
.letra{
    font-size: 35px;}
.de-suporte{
    font-size: 20px;}
.wifi-gratis{
    text-align: right;
    margin-top: 50px;}
.wifi{
    font-size: 50px;}
.gratis{
    font-size: 30px;}
.group-banner-respon{
    display: none;
}
.banner .botao{
    margin-bottom: 50px;
}
.group-banner-respon .consulte{
    bottom: 10px;
    left: 10px;
}


.vantagem{
    width: 100%;
    float: left;
    background-image: url('../img/bg-vantagem.jpg');
    padding: 30px 0;
}
.vantagem h2{
    font-size: 35px;
}
.vantagem .box{
    margin: 30px 0;
    text-align: center;
    padding: 0 50px;
}
.vantagem .box img{
    height: 70px;
}
.vantagem .box h3{
    font-family: 'marine_bold';
    font-size: 20px;
}
.vantagem .botao{
    text-align: center;
}
.para-voce{
    width: 100%;
    float: left;
    background-image: url('../img/bg-pra-voce-maxxnet-home.jpg');
    background-size: cover;
    background-position: 50%;
    padding: 70px 0 300px;
    color: #666769;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.para-voce video{
    width: 100%;
}
.box-esquerda{
    text-align: right;
}
.para-voce h4{
    text-align: center;
    font-size: 44px;
    font-weight: bold;
}
.box-direita h2{
    color: #666769;
}
.box-direita{
    text-align: center;
}
.box-plano-pra-vc{
    margin: 0 auto;
    position: relative;
}
.box-plano-pra-vc span{
    font-family: 'mohave_italics';
    line-height: 100%;
}
.qtd-e-unid{
    display: inline-table;}
.vc-qtd-mega{
    color: #67B145;
    font-size: 95px;}
.vc-unidade{
    font-size: 26px;}
.restante{display: inline-block;
    position: relative;height: initial;;}
.vc-por{
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 10px;;}
.vc-rs{
    position: absolute;
    left: 45px;
    font-size: 20px;
    top: 15px;
    color: #67B145;}
.vc-reais{
    font-size: 95px;
    color: #67B145;
    margin-left: 60px;}
.vc-centavos{
    color: #67B145;
    font-size: 30px;
    margin-left: -15px;
    margin-right: 60px;}
.box-plano-pra-vc .asterisco{
    vertical-align: middle;
    font-size: 26px;
}
.box-plano-pra-vc a:hover span{
    color: #757678;
}
.consulte-para-voce{
    font-size: 13px;
    font-family: 'marine_regular' !important;
    display: block;
    color:#67B145;
}

.box-wifi-gratis{
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;}
.vc-wifi{
    font-size: 31px;}
.vc-gratis{
    font-size: 17px;}
.cachorros{
    position: absolute;
    bottom: 70px;
    left: 100px;
}

.para-sua-empresa{
    width: 100%;
    float: left;
    background-image: url('../img/bg-para-sua-empresa-maxxnet.jpg');
    background-size: cover;
    background-position: 50%;
    padding: 100px 0;
    color: #666769;
    background-size: cover;
    background-position: 50%;
    color: #fff;
    position: relative;
}
.para-sua-empresa::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.33)
}
.para-sua-empresa .botao{
    float: none;
    margin: 30px auto 20px;
}
.para-sua-empresa .box{
    border: 1px solid #fff;
    padding: 20px 40px;
}
.comparador{
    width: 100%;
    float: left;
    background-color: #EEEDEE;
    text-align: center;
    padding: 40px 0;
}
.comparador video{
    width: 100%;
}

.indique{
    width: 100%;
    float: left;
    background-image: url('../img/bg-promocao-indique-um-amigo.jpg');
    background-size: cover;
    background-position: 0%;
    padding: 50px 0;
    color: #fff;
    text-align: center;
}
.indique .box{
    border: 1px solid #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.06);
}
.indique .box .botao {
    float: none;
    margin: 30px 0 20px;
}
@media(max-width: 1199px){
    .vantagem .box{
        padding:0;
    }
    .para-sua-empresa::before{
        background-color:rgba(0, 0, 0, 0.44);
    }
}
@media(max-height: 780px) and (max-width: 1280px){
    .comparador{
        display: none;
    }
}
@media(max-width: 1024px){
    .banner{
        background-position-x: 40%;
    }
    .comparador{
        display: none;
    }
}
@media(max-width: 1024px){
    .cachorros{
        display: none;
    }
    .para-voce{
        padding: 20px 0 40px;
    }
    .box-esquerda{
        text-align: center;
        margin-bottom: 50px;
    }
}
@media(max-width: 991px){
    .box-esquerda h2 br{
        display: none;
    }
    #header-sroll .bar {
        position: relative;
        transform: translateY(25px);
        background: #599b3a;
        color: #599b3a;
    }
    #header-sroll .bar:before {
        background: #599b3a;
    }
     #header-sroll .bar:after {
        background: #599b3a;
     }
    .consulte-para-voce{
        text-align: center;
    }
    .indique .box{
        border: 1px solid #fff;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@media(max-width: 768px){
    .banner{
        background-position-x: 50%;
    }
    .banner::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.73)
    }
    .group-banner-normal{
        display: none;
    }
    .group-banner-respon{
        display: block;
        width: 100%;
        float: left;
        margin-top: 100px;
    }
    .group-banner-respon h2{
        text-align: center;
        font-size: 50px;
    }
    .mega-e-preco{
        width: 292px;
        text-align: center;
        margin: 0 auto;
        display: table;
        float: none;
        height: 176px;
    }
    .qtd-mega{
    font-size: 100px;

    }
    .mega{
    font-size: 30px;
    left: 3px;
    bottom: 45px;

    }
    .por{
        left: 140px;
        font-size: 25px;}
    .rs{
        left: 102px;}
    .reais{
        left: 126px;
        font-size: 110px;
        bottom: 40px;}
    .centavos{
        left: 226px;
        bottom: 41px;
        font-size: 55px;}
    .suporte-e-wifi{
        width: auto;
        float: none;
        margin: 20px auto;
        display: table;
        height: auto;
        padding: 0;;
    }
    .vinte-e-quatro-suporte{
        text-align: center;
        display: inline-block;
        margin: 0;
    }
    .wifi-gratis{
        text-align: center;
        display: inline-block;
        margin: 0;
    }
    .suporte-e-wifi >div{
        margin: 0 30px 0 0;
    }
    .para-sua-empresa::before{
        background-color: rgba(0, 0, 0, 0.53)
    }
}
@media(max-width: 480px){
    .para-sua-empresa{
        background-position: 57%;
    }
    .para-sua-empresa::before{
        background-color: rgba(0,0,0,0.6);
    }
    .banner{
        height: auto;
        background-position-x: 70%;
    }
    .suporte-e-wifi >div{
        margin: 0 20px;
    }
}