.primeira-section{
	background-image: url('../img/internet-para-sua-empresa.jpg');
	background-position: 30%;
    background-repeat: no-repeat;
	background-size: cover;
}
.primeira-section h2{
	font-size:40px;
}
.nome-maxx{
	font-size: 90px;
}
.planos-para-sua-empresa{
	background-color: #f3f3f3;
}
.plano .box .botao a{
    background-color: #355408;
    border: none;
    border-bottom: 2px solid #54584f;
    padding: 5px 30px;
    margin-bottom: 5px;
}
.plano .box .botao a:hover{
    background-color: #8cc63e;
    border-color: #355408;
}
.plano:hover .valor{
    color: #8cc63e;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}
.plano:hover .qtd-uni{
    color: #fff;
    text-shadow: 0 0 10px #8cc63e;
}
.chamada-outro-plano{
    background-image: url('../img/bg-chamada-residencial.jpg');
}
.vantagem{
    background-color: #f3f3f3;
    color: #666769;
}
.vantagem h2{
	text-align: center;
}

@media (max-width: 1199px){
	.primeira-section{
		background-position: 45%;
	}
}
@media (max-width: 991px){
	.primeira-section:before{
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: rgba(255, 255, 255, 0.69);
	}
	.primeira-section{
		background-image: url('../img/internet-para-sua-empresa-mulher.jpg');
		background-size: cover;
	}
}