.primeira-section{
	height: 600px;
}
.primeira-section .img-esquerda{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
}
.primeira-section .img-direita{
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
}
.plano .box .botao a{
    background-color: #8cc63e;
    border: none;
    border-bottom: 2px solid #656d58;
    padding: 5px 30px;
    margin-bottom: 5px;
}
.plano .box .botao a:hover{
    background-color: #656d58;
    border-bottom: 2px solid #8cc63e;
}
.plano:hover .valor{
    color: #8cc63e;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}
.plano:hover .qtd-uni{
    color: #58595b;
    text-shadow: 0 0 10px #8cc63e;
}
.chamada-outro-plano{
    background-image: url('../img/bg-chamada-empresarial.jpg');
}

.vantagem{
    background-image: url('../img/bg-vantagem.jpg');
}
.vantagem.ajus{
    background-image: url('../img/bg-pra-voce-maxxnet-home.jpg');
    color: #67B145;
}

@media(max-width: 1290px){
    .primeira-section img{
        display: none;
    }
    .primeira-section{
        background-image:url('../img/bg-aproveite-o-melhor-da-maxx-fibra');
        background-size: cover;
    }
}
@media(max-width: 991px){
    .primeira-section{
        height: auto;
    }
}