.primeira-section{
	width: 100%;
	float: left;
	color: #666769;
	text-align: right;
	padding-top: 30px;
	padding-bottom: 50px;
    position: relative;
}
.maxx-radio{
    background-image: url('../img/bg-maxx-radio.jpg') !important;
    background-size: cover !important;
}
.primeira-section h2{
	font-size:45px;
}
.video{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
    z-index: 0;
}
.planos{
	padding: 30px;
    width: 100%;
    float: left;
    text-align: center;
    color: #58595b;
    background-position-y: 100%;
    background-size: cover;
    overflow: hidden;
}
.planos-residenciais{
    background-image: url('../img/bg-planos-para-voce.jpg');
}
.planos-para-sua-empresa{
    background-color: #f4f4f4;
}
.planos h2{
	font-size: 40px;
}

.plano{

    background-position: 50%;
    min-height: 450px;
    width: 310px;
    float: none !important;
    display: table;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.plano-residencial{
    background-image: url('../img/box-plano-residencial.png');
}
.plano-empresarial{
    background-image: url('../img/box-plano-empresarial.png');
}
.qtd-uni{
    position: absolute;
    left: 33px;
    top: 47px;
    font-size: 35px;
    text-align: right;
    line-height: 100%;
    color: #fff;
    font-family: 'nimbus_san_reg';
    height: 80px;
    width: 100px;
    transition: all .8s ease;
}
.ajus .qtd-uni{
    left: 79px;
}
.qtd-uni span,
.qtd-uni div{
    font-family: 'neutra';
}
.qtd{
    font-size: 47px;
    text-align: right;
}
.uni{
    position: absolute;
    left: 0;

}
.plano .box{
    margin-top: 140px;
    margin-left: 19px;
}
.valor{
    margin-bottom: 10px;
    transition: all .8s ease;
}
.valor span{
    font-family: 'neutra';
}
.cifrao{
    font-size: 20px;
    vertical-align: bottom;}
.reais{
    font-size: 50px;
    line-height: 88%;}
.centavos{
    margin-left: -10px;}
.mes{
    font-family: 'nimbus_san_bold';
    font-size: 10px;
    letter-spacing: .5px;
}
.mega-up div{
    font-size: 13px;
}
.wifi-sup{
    display: table;
    margin: 20px auto;
    padding: 10px 30px;
    border-top: 1px solid #c2db8f;
    border-bottom: 1px solid #c2db8f;
}
.wifi-sup div{
    font-family: 'nimbus_san_bold';
    font-size: 12px;
}
.wifi-sup div:first-child{
    margin-bottom: 5px;
}
.plano .box .botao{
    transform: skew(0);
    margin-top: 0;
}
.plano .box .botao a span{
    font-family:'nimbus_san_bold';
    transform:skew(0);
    color:#fff;
    font-size:13px;
}
.plano .box .botao a:after, .plano .box .botao button:after{
    display: none;
}
.detalhes a{
    font-family:'nimbus_san_bold';
    font-size: 10px;
    color: #b2b2b2;
}




.vantagem{
    width: 100%;
    float: left;
    padding: 30px 0;
}
.vantagem h2{
    font-size: 35px;
}
.vantagem .box{
    margin: 30px 0;
    text-align: center;
    padding: 0 50px;
}
.vantagem .box img{
    height: 70px;
}
.vantagem .box h3{
    font-family: 'marine_bold';
    font-size: 20px;
}


.chamada-outro-plano{
    width: 100%;
    float: left;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
    background-position: 74%;
    position: relative;
}
.chamada-outro-plano h3{
    font-size: 40px;
}


.detalhes a:hover{
    color: #000;
}

@media(max-width: 1366px){
    .ajus .qtd-uni{
        left: 60px;
    }
}

@media(max-width: 1199px){
    .ajus .qtd-uni{
        left: 33px;
    }
    .maxx-radio:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.71);
    }
}


@media(max-width: 991px){
	.primeira-section{
		height: auto;
		text-align: center;
	}
	.video{
		position: relative;
		width: 100%;
	}
    .qtd-uni{
        display: table;
        right: 0;
        text-align: center;
        left: -172px !important;
        margin: 0 auto;
    }
    .chamada-outro-plano{
        background-position: 82%;
    }
    .chamada-outro-plano:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.12);
    }
}
@media(max-width: 468px){
    .planos{
        padding: 0;
    }
    .vantagem .box{
        padding: 0;
    }
}
@media(max-width: 380px){
    .plano{
        margin-left: 2px;
    }
    .qtd-uni{
        left: -182px !important;
    }
}
@media(max-width: 330px){
    .plano{
        width: 280px;
        margin-left: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .qtd-uni{
        left: -159px !important;
        top: 62px;
    }
    .plano .box{
        margin-top: 145px;
    }
    .valor{
        margin-bottom: 5px;
    }
    .reais{
        font-size: 45px;
    }
    .qtd{
        font-size: 40px;
    }
    .uni{
        font-size: 25px;
        right: 0;
    }
}