#header-sroll .menu-one ul li a:hover{
    color: #f1f1f1;
}
.sobre{
    width: 100%;
    float: left;
    color: #58595b;
    padding: 40px 0 150px;
    background-image: url('../img/bg-conheca-a-maxx-net.jpg');
}
.sobre h2{
    margin-bottom: 20px;
}
.sobre p{
    margin-bottom: 30px;
}
.logo-sobre{
    width: 70%;
    margin: 70px auto 0;
    display: block;
}
@media (max-width: 991px){
    .logo-sobre{
        width: 300px;
        margin-top: 0;
    }
    .sobre{
        padding-bottom: 40px;
    }
}