@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff') format('woff'),
    url('../fonts/fontello.ttf') format('truetype'),
    url('../fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mohave_italics';
    src: url('../fonts/mohave_italics.eot');
    src: url('../fonts/mohave_italics.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mohave_italics.woff') format('woff'),
    url('../fonts/mohave_italics.ttf') format('truetype'),
    url('../fonts/mohave_italics.svg#mohave_italics') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'marine_regular';
    src: url('../fonts/marine_regular.eot');
    src: url('../fonts/marine_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/marine_regular.woff') format('woff'),
    url('../fonts/marine_regular.ttf') format('truetype'),
    url('../fonts/marine_regular.svg#marine_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'marine_bold';
    src: url('../fonts/marine_bold.eot');
    src: url('../fonts/marine_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/marine_bold.woff') format('woff'),
    url('../fonts/marine_bold.ttf') format('truetype'),
    url('../fonts/marine_bold.svg#marine_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neutra_ligth';
    src: url('../fonts/neutra_ligth.eot');
    src: url('../fonts/neutra_ligth.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neutra_ligth.woff') format('woff'),
    url('../fonts/neutra_ligth.ttf') format('truetype'),
    url('../fonts/neutra_ligth.svg#neutra_ligth') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neutra';
    src: url('../fonts/neutra.eot');
    src: url('../fonts/neutra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/neutra.woff') format('woff'),
    url('../fonts/neutra.ttf') format('truetype'),
    url('../fonts/neutra.svg#neutra') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nimbus_san_bold';
    src: url('../fonts/nimbus_san_bold.eot');
    src: url('../fonts/nimbus_san_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nimbus_san_bold.woff') format('woff'),
    url('../fonts/nimbus_san_bold.ttf') format('truetype'),
    url('../fonts/nimbus_san_bold.svg#nimbus_san_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nimbus_san_reg';
    src: url('../fonts/nimbus_san_reg.eot');
    src: url('../fonts/nimbus_san_reg.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nimbus_san_reg.woff') format('woff'),
    url('../fonts/nimbus_san_reg.ttf') format('truetype'),
    url('../fonts/nimbus_san_reg.svg#nimbus_san_reg') format('svg');
    font-weight: normal;
    font-style: normal;
}
#wrap{
    overflow: hidden;
    width: 100%;
    float: left;
    position: relative;
    color:#fff;
    font-size: 16px;
}
h1, h2, h3, h4{
    font-family: 'mohave_italics';
    text-transform: uppercase;
}
h1 span, h2 span, h3 span, h4 span{
    font-family: 'mohave_italics';
}
a, span, li, p{
    font-family: 'marine_regular';
}
a,
input,
textarea,
button{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
input:focus,
textarea:focus{
    outline: none;
}
a:hover,
a:focus,
a:active{
    outline: none;
    text-decoration: none;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.color-cinza{
    color: #666769;}
.color-verde{
color: #67B145;}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.font-weight-bold{
    font-weight: bold;
}
.centering{
    float: none;
    margin: 0 auto;
}
.botao{
    width: 100%;
    float: left;
    margin-top: 15px;
    text-align: center;
    -webkit-transform: skew(-15deg, 0deg);
    -moz-transform: skew(-15deg, 0deg);
    -o-transform: skew(-15deg, 0deg);
    -ms-transform: skew(-15deg, 0deg);
    transform: skew(-15deg, 0deg);
}
.botao a span,
.botao button span{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
}
.botao a,
.botao button{
    border: 1px solid #67B145;
    padding: 12px 80px;
    background-color: #FFF;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFF;
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
}
.botao a span,
.botao button span{
    font-family: 'mohave_italics';
    color: #666769;
    position: relative;
    z-index: 2;
    display: block;
    -webkit-transform: skew(15deg, 0deg);
    -moz-transform: skew(15deg, 0deg);
    -o-transform: skew(15deg, 0deg);
    -ms-transform: skew(15deg, 0deg);
    transform: skew(15deg, 0deg);
    font-size: 20px;
}
.botao a:hover span,
.botao button:hover span{
    color: #FFF;
}
.botao a:hover,
.botao button:hover{
    background-color: #67B145;
}
.botao a:after,
.botao button:after{
        -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid #67B145;
    content: '';
    height: 100%;
    width: 100%;
    background-color: #67B145;
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 4px;
}
.botao a:hover:after,
.botao button:hover:after{
    background-color: #FFF;
    bottom: 3px;
    left: -6px;
}
.my-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.conteudo {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

/*HEADER*/
.header,
.desk-menu{
    float: left;
    position: relative;
    display: table;
    width: 100%;
}
#header-sroll,
#header-sroll.small,
#header-sroll *,
#header-sroll.small *{
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
#header-sroll .responsive-menu{
    display: none;
}
#header-sroll{
    background-color: rgb(255, 255, 255, 0);
    position: fixed;
    width: 100%;
    float: left;
    display: block;
    z-index: 999;
}
#header-sroll .logo span{
    margin-top: 10px;
    margin-bottom: 10px;
    display: table;
    font-size: 36px;
}
#header-sroll .logo h1{
    margin-top: 10px;
    padding-bottom: 10px;
}
#header-sroll.small{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(255,255,255,1);
    height: 65px;
}
#header-sroll .box-menu{
    float: left;
    width: 100%;
}
#header-sroll.small .box-menu{
    margin-top: 0px;
}
.menu-one{
    display: block;
    position: absolute;
    width: 100%;
    float: right;
    padding-top: 15px;
}
#header-sroll.small .menu-one{
    padding-top: 2px;
}

#header-sroll .sub-menu{
    position: absolute;
    visibility: hidden;
    top: -500px;
}
#header-sroll .menu-item-has-children:hover .sub-menu{
    visibility: visible;
    top: 63px;
    background: #fff;
}
#header-sroll .menu-item-has-children:hover .sub-menu li{
    width: 100%;
    text-align: center;
}

.menu-one ul{
    padding: 0;
    float: none;
    margin: 0 auto;
    display: table;
}
.menu-one ul li{
    position: relative;
    list-style: none;
    float: left;
}
/* .menu-one ul li::before{
    content: '';
    position: absolute;
    height: 50%;
    top: 25%;
    width: 10px;
    right: 0;
    opacity: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e0e0e0+98&0+0,1+100,1+101 */
   /* background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(129, 177, 79,0.15) 98%, rgba(129, 177, 79,.15) 100%, rgba(129, 177, 79,.15) 101%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(129, 177, 79,0.15) 98%,rgba(129, 177, 79,.15) 100%,rgba(129, 177, 79,.15) 101%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(129, 177, 79,0.15) 98%,rgba(129, 177, 79,.15) 100%,rgb(129, 177, 79) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e0e0e0',GradientType=1 ); /* IE6-9 */

/*}
.menu-one ul li:hover::before{
    animation: sombra 1s;
}
@keyframes sombra{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
} */
#header-sroll .menu-one ul li.menu-item-has-children > a::before,
#header-sroll .menu-one ul li.menu-item-has-children > span::before{
    content: '>';
    color: #fff;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    transition: all .3s ease;
}
#header-sroll .menu-one ul li.menu-item-has-children:hover > a::before,
#header-sroll .menu-one ul li.menu-item-has-children:hover > span::before{
    transform: rotate(83deg);
}
#header-sroll .menu-one ul li.menu-item-has-children > a{
    pointer-events: none;
}


#header-sroll.small .menu-one ul li a::before,
#header-sroll.small .menu-one ul li span::before{
    color: #67B145;
}

#header-sroll .menu-one ul li a,
#header-sroll .menu-one ul li span{
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-family: 'mohave_italics';
    text-transform: uppercase;
    display: inline-block;
    font-size: 21px;
    padding: 8px 31px;
    color: #fff;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}
#header-sroll .menu-one ul li.menu-item-has-children li a,
#header-sroll .menu-one ul li.menu-item-has-children li span{
    font-size: 19px;
    padding: 8px 10px;
    color: #333;
}
#header-sroll .menu-one ul li.menu-item-has-children li:hover{
    background-color: #8cc63e;
}
#header-sroll .menu-one ul li.menu-item-has-children li:hover a,
#header-sroll .menu-one ul li.menu-item-has-children li:hover span{
    color: #fff;
}
#header-sroll.small .menu-one ul li a,
#header-sroll.small .menu-one ul li span{
    color: #666769;
}

#header-sroll.small .menu-one ul{
    margin-bottom: 0;
}
#header-sroll .menu-one ul li a:hover{
    color: #67b145;
}
#header-sroll.small .menu-one ul li a{
    margin: 14px 0px;
    line-height: 100%;
}
/* #header-sroll .menu-one ul li a:after,
#header-sroll .menu-two ul li a:after{
    content: '';
    height: 1px;
    width: 50%;
    background-color:#67b145;
    -webkit-transition: all 0.8s, color 0.8s;
    -moz-transition: all 0.8s, color 0.8s;
    transition: all 0.8s, color 0.8s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 50%;
    box-shadow: 0 0 5px rgb(103, 177, 69);
} */
#header-sroll .menu-one ul li a:hover::after,
#header-sroll .menu-two ul li a:hover::after{
    animation: linha 1s;
}

@keyframes linha{
    to{
        left: 130%;
        opacity: 1;
    }
}
.logo{
    float: left;
    width: auto;
}
#header-sroll .logo a.siteLogo{
    background: url('../img/logo-branca.svg') no-repeat;
    display: block;
    margin: 0px auto;
    width: 100%;
    height: 76px;
    color: transparent;
    z-index: 9999;
    position: relative;
}
#header-sroll.show-menu .logo a.siteLogo{
    background: url('../img/logo.svg') no-repeat;
}
#header-sroll.small .logo a.siteLogo{
    height: 48px;
    background-size: contain;
    background: url('../img/logo.svg') no-repeat;
}
#header-sroll .telefones{
    font-family: 'mohave_italics';
    color: #fff;
    margin-top: 25px;
    font-size: 22px;
    text-align: right;
    float: right;
    display: inline-block;
}
#header-sroll.small .telefones{
    color: #67B145;
}
#header-sroll .telefones i{
    color: #fff;
}
#header-sroll.small .telefones i{
    color: #666769;
}
#header-sroll.small .telefones{
    margin-top: 5px;
    font-size: 20px;
}
.tel-resp{
    display: none;
}
#header-sroll .redes-sociais{
    display: inline-block;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}
#header-sroll .redes-sociais a i{
    box-shadow: 2px -1px 0 #ffffff;
    border-color: #fff;
}

#header-sroll.small .redes-sociais{
    margin-top: 5px;
}
#header-sroll.small .redes-sociais a i{
    box-shadow: 2px -1px 0 #8cb661;
    border-color: #8cb661;
    color: #8cb661;
    font-size: 12px;
}
#header-sroll .redes-sociais a:hover i{
    box-shadow: 2px -1px 0 #fff;
    border-color: #fff;
    color: #fff;
    background-color: #67b145;
}
/* HAMBURGER */
.hamburger-menu{
    display: none;
}

/* FOOTER */
.footer{
    float: left;
    width: 100%;
    background-color: #666769;
    padding: 30px 0 10px;
    position: relative;
    overflow: hidden;
}
.menu-footer.responsivo{
    display: none;
}
.bg-left-footer{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.bg-right-footer{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.menu-footer ul{
    padding-left: 0;
    text-align: left;
}
.menu-footer ul::before{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 43%;
    background-color: #67B145;
    transform: rotate(11deg);
}
.menu-footer li{
    list-style: none;
    display: inline-block;
    text-align: left;
    width: 49%;
    margin: 8px 0;;
}
.menu-footer li a{
    color:#fff;
    text-align:left;
    padding:8px;
    font-family:'mohave_italics';
    font-size:17px;
    letter-spacing:.5px;
}
.menu-footer li a:hover{
    color: #67B145;
}
.menu-footer{
    color:#fff;
    position: relative;
    z-index: 999;
    padding:0;
}
.logo-footer{
    position: relative;
    z-index: 99;
    text-align: right;;
}
.logo-footer img{
    width: 200px;
}
.redes-sociais{
    text-align: right;
}
.redes-sociais a{
    color: #fff;
    background-color: transparent;
    margin: 0 5px;
    width: 40px;
    height: 40px;
}
.redes-sociais a i{
    font-size: 18px;
    border: 1px solid rgba(140, 182, 97, 0.42);
    padding: 3px;
    box-shadow: 2px -1px 0 #8cb661;
    transition: all .7s ease;
    transform: skew(-11deg);
    position: relative;
    display: inline-block;
    margin-top: 20px;;
}
.redes-sociais a i::before{
    transform: skew(11deg);
}
.redes-sociais a i:hover{
    box-shadow: -2px -1px 0 #8cb661;
    color: #8cb661;
}
.redes-sociais br{
    display: none;
}
.copy{
    text-align: center;
    color: #fff;
}
.copy span{
    font-family: 'mohave_italics';
}


/* OUTRAS PARTES COMUNS */
/* Título comum */
.head-title,
.head-title .page-name{
    float: left;
    width: 100%;
    text-align: right;
    padding-bottom: 20px;
    background-size: cover;
}
.head-title .page-name{
    padding-top: 125px;
}
.head-title .page-name h1{
    text-transform: uppercase;
    font-size: 44px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.58);
}
#breadcrumbs a,
#breadcrumbs span{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family:  'mohave_italics';
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.58);
}
#breadcrumbs a:hover{
    color: #8cb661;
}



/* MODAL */
.show {
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
.show:hover {
    color: #00ACEC;
    cursor: pointer;
}
.modal2 .head-modal,
.modal2 .body-modal,
.modal2 .converse-conosco,
.modal2 .foot-modal{
    float: left;
    position: relative;
    width: 100%;
}
.modal2 .body-modal a{
    color: #666;
}
.modal2 .body-modal a:hover{
    color: #ea9c46;
}
.modal2 .body-modal a::before{
    content: '•';
    margin-right: 5px;
    color:#ea9c46;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.84);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}
.modal2 {
    position: fixed;
    margin: 0 auto;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    min-height: 214px;
    top: 100px;
    left: 0;
    right: 0;
}
.grid-modal{
    position: fixed;
    z-index: 999;
    float: none;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.active {
    visibility: visible;
    opacity: 1;
}
.active + .modal2 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
/* .modal2 .head-modal{
    border-bottom: 90px solid #ffffff;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    position: relative;;
} */
.modal2 .head-modal .close {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    opacity: 1;
    color: #355408;
    text-shadow: none;
    position: absolute;
    right: 16px;
    top: 10px;
    z-index: 3;
}
.modal2 .head-modal .close:hover i{
    color: #355408;
}
.modal2 .head-modal .close:focus {
    outline: none;
}
.modal2 .head-modal .close i{
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    color: #355408;
}
.modal2 .body-modal{
    background-color: #FFF;
    padding: 15px;
    color: #666;
}
.modal2 .body-modal h3{
    color: #8cc63e;
}
.modal2 .converse-conosco{
    bottom: 0;
    padding: 15px;
    position: relative;
    background-color: #FFF;
}
.modal2 .converse-conosco .location span a{
    color: #666;
    font-size: 15px;
}
.modal2 .converse-conosco .location span a:hover{
    color: #8cc63e;
}
.modal2 .converse-conosco .location span a i{
    font-size: 20px;
    color: #ea9c46;
}/*
.foot-modal{
    border-top: 90px solid #ffffff;
    border-left: 150px solid transparent;
    height: 0;
    width: 0px;
    box-shadow: none;
    border-right: 150px solid transparent;
}
.modal2 hr{
    border-color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
} */



/* MEDIA QUERIES */
@media (max-width: 1366px){
    .footer .bg-left{
        width: 300px;
        background-position-x: 100%;
    }
}
@media (max-width: 1280px){
    .footer .bg-right{
        background-position-x: 290%;
    }
}
@media (max-width: 1199px){
    .bg-left-footer{
        display: none;
    }
    .botao a, .botao button{
        padding-left: 20px;
        padding-right: 20px;
    }
    #header-sroll .logo a.siteLogo{
        width: 80%;
        float: left;
    }
    #header-sroll .telefones{
        font-size: 20px;
    }
    #header-sroll .logo h1{
        margin-top: 18px;
    }
    #header-sroll.small .logo h1{
        margin-top: 10px;
    }
    .telefones-resp{
        display: block;
    }
}
@media (max-width: 1024px){
    .footer .bg-left{
        display: none;
    }
    .footer .bg-right{
        display: none;
    }
}
@media (max-width: 991px){
    .head-title, .head-title .page-name{
        text-align: center;
    }
    #header-sroll .tel-resp{
        display: block;
        text-align: center;
    }
    .tel-norm{
        display: none;
    }
    #header-sroll .menu-one ul li a, #header-sroll .menu-one ul li span{
        font-size: 15px;
    }
    .menu-one{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    #header-sroll .hamburger-menu,
    #header-sroll .bar,
    #header-sroll .bar.animate,
    #header-sroll .bar span{
        -webkit-transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -ms-transition: all .35s ease-in-out;
        -o-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
    }
    #header-sroll .hamburger-menu {
        bottom: 0;
        height: 60px;
        cursor: pointer;
        position: relative;
        top: 20px;
        float: right;
    }
    #header-sroll.small .hamburger-menu{
        top: 6px;
    }
    #header-sroll .bar,
    #header-sroll .bar:after,
    #header-sroll .bar:before {
        width: 34px;
        height: 3px;
    }
    #header-sroll .bar {
        position: relative;
        transform: translateY(25px);
        background: #fff;
        color: #fff;
    }
    #header-sroll.small .bar{
        color: #333;
        background: #333;
    }
    #header-sroll .bar.animate {
        background: rgba(255, 255, 255, 0);
    }
    #header-sroll .bar:before {
        -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        background: #fff;
    }
    #header-sroll .bar:after {
        -webkit-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -moz-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -ms-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -o-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        background: #fff;
    }
    #header-sroll.small .bar:after,
    #header-sroll.small .bar:before{
        background: #333;
    }
    #header-sroll .bar.animate:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #header-sroll .bar.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #header-sroll .bar span{
        right: 60px;
        font-family: 'DroidSansBold';
        color: rgba(255, 255, 255, 0);
        position: relative;
        bottom: 13px;
        font-size: 16px;
    }
    #header-sroll.small .bar span{
        color: #333;
    }
    #header-sroll.show-menu{
        height: 100%;
        background-color: rgba(255,255,255,.95);
    }
    #header-sroll.show-menu .bar.animate:before,
    #header-sroll.show-menu .bar:after{
        background: #000;
    }
    #header-sroll.show-menu .responsive-menu{
        display: block;
        height: 100%;
    }
    #header-sroll .bx-menu{
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        padding-top: 10%;
    }
    #header-sroll.show-menu .bx-menu{
        width: 100%;
        float: left;
    }
    #header-sroll.show-menu.small .bx-menu{
        padding-top: 15%;
    }
    #header-sroll .responsive-menu .bx-menu ul{
        padding: 0;
    }
    #header-sroll .responsive-menu .bx-menu ul li{
        list-style: none;
        float: left;
        width: 100%;
    }
    #header-sroll .responsive-menu .bx-menu ul li a{
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        opacity: 0;
    }
    #header-sroll .responsive-menu .bx-menu ul li a{
        font-family: 'marine_regular';
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        display: table;
        opacity: 1;
        color: #666;
        padding: 5px;
        margin: auto;
    }
    #header-sroll .responsive-menu .bx-menu ul li a:hover{
        color: #67b145;
    }
    #header-sroll .responsive-menu .bx-menu ul li.menu-item-has-children > a{
        display: none;
    }
    #header-sroll .sub-menu{
        position: relative;
        visibility: visible;
        top: 0;
    }
    #header-sroll .menu-item-has-children:hover .sub-menu{
        top: 0;
    }
    #header-sroll .responsive-menu .bx-menu ul li.menu-item-has-children li{
        position: relative;
    }

}
@media (max-width: 991px){
    section{
        text-align: center;
    }

    .logo {
        width: 200px;
    }
    #header-sroll .logo a.siteLogo {
        width: 190px;
    }
    #header-sroll.small .menu-one ul li a{
        margin: 14px 0px !important;
    }
    #header-sroll .telefones{
        display: none;
    }
    #header-sroll .redes-sociais{
        display: none;
    }
    .logo-footer{
        text-align: center;
        float: none;
    }
    .menu-footer li{
        text-align: center;
    }
    .redes-sociais{
        text-align: center;
    }
    .menu-footer ul::before{
        left: 50%;
    }
    .bg-right-footer{
        display: none;
    }
    .menu-footer ul::before{
        left: 46%;
    }
    .redes-sociais a i{
        margin-bottom: 20px;
    }
    .logo-footer img {
        margin-left: 40px;
    }
}

@media (max-width: 767px){
    .active + .modal2{
        transform: scale(.8);
        top: 5px;
    }
    .menu-footer li{
        width: 100%;
    }
    .menu-footer ul::before{
        display: none;
    }
    .menu-footer{
        display: none;
    }
    .menu-footer.responsivo{
        display: block;
    }
}
@media (max-width: 468px){
    .botao a, .botao button{
        padding: 12px 20px;
    }
}
@media (max-width: 360px){
    #header-sroll.show-menu.small .bx-menu{
        padding-top: 0;
    }
    #header-sroll .logo a.siteLogo {
        height: 48px;
        background-size: contain;
    }
    #header-sroll .hamburger-menu {
        top: 6px;
    }
    #header-sroll{
        height: 65px;
    }
}


/* BOOTSTRAP QUERIES */
@media (min-width: 768px){
    .my-container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .my-container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .my-container {
        width: 1170px;
    }
}
@media (min-width: 1367px){
    .my-container {
        width: 1300px;
    }
}
