.velocimetro{
	position: relative;
	width: 100%;
	float: left;
}
.velocimetro .box{
	position: relative;
	margin: 80px 0 15vh;
	text-align: right;
	width: 100%;
	float: right;
	z-index: 0;
}
.velocimetro .box h2{
	text-transform: uppercase;
	color: #444;
	font-size: 43px;
	text-align: right;
}
.velocimetro .box h2 strong{
	text-transform: initial;
	width: 100%;
	display: table;
}
.velocimetro .box p{
	color: #444;
}
.velocimetro .velocity{
	background-color: white;
	margin: 80px 0 80px;
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
	pointer-events: auto;
	display: none;
}
.velocimetro .velocity img{
	width: 80%;
}
.velocimetro .velocity iframe{
}
.velocimetro .velocity iframe {
    width: 104%;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 360px;
    background-color:#f1f1f1;
    /* pointer-events: none; */
    z-index: 0;
}
.velocimetro .velocity iframe *{
	margin: 0 !important;
}
.velocimetro .box-dicas{
	text-align: left;
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}
.velocimetro .box-dicas h2{
	text-align: left;
    font-size: 27px;
}
.velocimetro .box-dicas ul{
	padding-left: 0;
	list-style: none;
}
.velocimetro .box-dicas ul li:before{
	content: '»';
	margin-right: 5px;
	color:green;
}
.section-dicas{
	background-color:#fff;
}

/* MODAL */
.modal .overlay{
	background-color:rgba(128, 128, 128, 0.84);
	position: fixed;
	width:100%;
	height:100%;
}
.modal-content h3{
	font-size: 20px;
	font-weight: bold;
}
.modal .modal-dialog.modal-dialog-g {
    width: auto;
    max-width: 1080px;
    margin:100px auto;
}
.modal .modal-dialog .modal-content .i-c-modal-close {
    right: 0;
}
.modal .modal-dialog .modal-content .i-c-modal-close {
    position: absolute;
    right: -40px;
    top: -40px;
}
.modal .modal-dialog {
    margin-top: 50px;
    z-index: 9999;
    position: relative;
}
@media (min-width: 768px)
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal .modal-dialog .modal-content {
    background: rgba(255,255,255,1);
    border-radius: 0;
    border: 0;
    box-shadow: none;
    padding: 1px;
}

@media (min-width: 768px)
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-dicas{
	position: fixed;
	width:100%;
	height:100%;
	top: 0;
	z-index: 99;
}
.modal-open .modal {
    overflow-x: hidden;
}

.fade.in {
    opacity: 1;
}
.modal {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    /* overflow: hidden; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal .modal-dialog .modal-content .modal-body {
    border-radius: 10px;
    border: 1px solid #67B145;
    display: block;
    margin: 20px;
    position: relative;
    text-align: center;
}
.modal-body {
    position: relative;
    padding: 15px;
}

.modal .modal-dialog .modal-content .modal-body h6 {
    color: #67B145;
    font-size: 39px;
    text-transform: uppercase;
}
.modal .modal-dialog .modal-content .modal-body .little p {
    font-size: 14px;
}

.modal .modal-dialog .modal-content .modal-body p {
    color: #737c8f;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
}

.modal .modal-dialog .modal-content .modal-body ul.list-dicas {
    margin: 40px 0;
    list-style: none;
    display: block;
    padding-left: 0;
}

.modal .modal-dialog .modal-content .modal-body ul.list-dicas li {
    color: #737c8f;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 180px;
    display: inline-table;
    margin-bottom:20px;
}


.modal .modal-dialog .modal-content .modal-body ul.list-dicas li img {
    display: inherit;
    margin: 0 auto 10px;
}

.modal .modal-dialog .modal-content .modal-body ul.list-dicas li span {
    color: #737c8f;
    font-size: 18px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.modal .modal-dialog .modal-content .modal-body .modal-bts {
    margin-top: 50px;
}
.modal .modal-dialog .modal-content .modal-body .modal-bts .bt-o {
    border-radius: 30px;
    display: block;
    margin: 5px auto;
    max-width: 295px;
    padding: 15px 10px;
    width: 100%;
}
.modal .modal-dialog .modal-content .modal-body .modal-bts .bt-o {
    border-radius: 30px;
    display: block;
    margin: 5px auto;
    max-width: 295px;
    padding: 15px 10px;
    width: 100%;
}

@media (max-width: 1350px) and (min-width: 1200px){
	.ultra .video{
		right: 44vw;
	}
}
@media (max-width: 1199px){
	.ultra .video{
		right: 42vw;
	}
	.velocimetro .velocity img{
		width: 100%;
	}
	.ultra .video video{
		width: 540px;
	}
	.velocimetro .box h2{
		font-size: 36px;
	}
	.velocimetro .velocity iframe{
		height: 305px;
	}
}
@media (max-width: 991px){
	.velocimetro .box{
		margin: 12vh auto 0;
		width: 80%;
		text-align: center;
		display: table;
		float: none;
	}
	.velocimetro .box h2{
		text-align: center;
		font-size: 39px;
	}
	.velocimetro .velocity{
		margin: 50px 0 45px 0;
	}
	.velocimetro .velocity img{
		width: 80%;
		margin: 0 auto;
		display: table;
	}
	.ultra .plano{
		width: 312px;
		float: left;
		padding: 0;
		margin: 80px auto 270px;
	}
	.ultra .plano .box .type h3{
		font-size: 27px;
	}
	.ultra .video{
		right: 5vw;
		top: 240px;
	}
	.ultra .plano .box .right .valor .reais.big{
		font-size: 70px;
	}
	.velocimetro .velocity iframe{
		height: 490px;
	}
}
@media (max-width: 767px){
	.entenda .box{
		padding: 0 25%;
	}
	.ultra .plano{
		margin: 35px auto;
		display: table;
		float: none;
	}
	.ultra .video {
	    right: 0;
	    top: 0px;
	    position: relative;
	}
	.ultra .video video{
		width: 415px;
		float: none;
		margin: 30px auto 80px;
		display: table;
	}
	.velocimetro .velocity iframe{
		height: 368px;
	}
}
@media (max-width: 600px){
	.velocimetro .velocity iframe{
		height: 314px;
	}
}
@media (max-width: 520px){
	.velocimetro .velocity iframe{
		height: 252px;
	}
}
@media (max-width: 481px){
	.velocimetro .box h2{
		font-size: 32px;
	}
	.entenda .box{
		padding: 0 15px;
	}
	.ultra .video{
		padding: 0 15px;
	}
	.ultra .video video{
		width: 100%;
	}
	.ultra .plano{
		width: 270px;
	}
	.ultra .plano .box .right .valor .reais.big{
		font-size: 58px;
	}
	.ultra .plano .box .right .valor .reais.big + .cents{
		left: 13px;
	}
	.ultra .plano .box .left .banda .val{
		font-size: 107px;
	}
}